<!-- BARRA SUPERIOR -->
<div class="contenedor_superior bg-azul-mar">
  <div class="contenedor_lot">
    <!-- LOGO -->
    <img class="logo1" src="img/logo.png" alt="Logo de Mariscos">

    <nav class="menu-acciones">

      <div class="desplegar_menu whatsapp-menu">
        <div class="menu-trigger">
          <img src="img/whasap.png" alt="WhatsApp">
        </div>

        <div class="opciones-menu">
          <a href="https://wa.me/529962054653?text=Hola%2C%20quiero%20mandar%20mi%20comprobante%20de%20pago." target="_blank" class="opcion-menu">
            📎 Mandar comprobante
          </a>
          <a href="https://wa.me/529962054653?text=Hola%2C%20quiero%20apartar%20una%20mesa." target="_blank" class="opcion-menu">
            🍽️ Apartar mesa
          </a>
          <a href="https://wa.me/529962054653?text=Hola%2C%20quisiera%20saber%20más%20acerca%20del%20restaurante." target="_blank" class="opcion-menu">
            ℹ️ Acerca del restaurante
          </a>
        </div>
      </div>

      <!-- BOTÓN DEL CARRITO ACTUALIZADO -->
      <a class="carrito" (click)="goToCart()" style="cursor: pointer;">
        <img src="img/carrito.png" alt="Carrito">
      </a>

      <div class="desplegar_menu">
        <div class="menu-trigger">
          <img src="img/icons8-menú-50.png" alt="">
          <p></p>
        </div>
        <div class="opciones-menu">
          <a routerLink="Login" class="opcion-menu">Administrador</a>
        </div>
      </div>

    </nav>
  </div>
</div>

<div class="contenedor_casicentro">
  <div class="contenedor_a">
    <a (click)="goHome()">INICIO</a>
    <a routerLink="Drink" (click)="setHome(false)">BEBIDAS</a>
    <a routerLink="Food" (click)="setHome(false)">PLATILLOS</a>
    <a routerLink="fishes" (click)="setHome(false)">ESPECIALES DEL MAR</a> 
    <!--<a routerLink="prmotion" (click)="setHome(false)">PROMOCIONES</a> -->
    <a routerLink="celebrate" (click)="setHome(false)">FESTEJA CON NOSOTROS</a>
  </div>
</div>

<div class="Home_visible" *ngIf="homeActive">
  <app-home></app-home>
</div>
<router-outlet *ngIf="!homeActive"></router-outlet>

<!-- AGREGAR ESTA ÚNICA LÍNEA AL FINAL -->
<app-mycart-drawer></app-mycart-drawer>